body{
	margin: 2%;

}
header{
  background-image: url('flywheel.jpg');
  background-repeat: no-repeat;
  background-size: 120%;
  background color: #b3b3b3; 
}
h1{
  text-align: center;
  font-variant: small-caps; 
  color: #FFFFFF;
  padding-top:3%;
  font-family: Arial;
}
nav{
	text-align: center;
}
nav a{
	text-align: center;
	font-weight: bold;
	color: #000;
	background-color: #ffffff21;
	width: 150px;
	height: 50px;
	padding: 5px;
	padding-top: 15px; 
	border-radius: 10%;
	text-decoration: none;
	display: inline-block;
	border: transparent #ffffff;
	margin: 2%;
	box-sizing: border-box;

}
nav a:hover{
	background: #ffffff;
}
nav a:active{
	background: #ffffff;
}

.left{
	background-color: #606b0f;
	display: block;
	float: left;
}
a img{
	width: 200px;
	display: block;
	margin: 20px;
	border: solid black;
}
main{
	display: inline-block;
}
.right{
  font-family: serif;
  margin-left: 10px;
  width: 80%;
  min-width: 350px;
}
